h1 {
    text-align: center;
    font-family: "Poiret One", Arial, Helvetica, sans-serif;
}

.f {
    position: relative;
    font-size: 1.8em;
    font-weight: 100;
    z-index: 3;
}

.o1 {
    position: relative;
    top: -.5em;
    right: .2em;
    z-index: 2;
}

.o2 {
    position: relative;
    top: -.5em;
    right: .4em;
    z-index: 2;
}

.d {
    position: relative;
    top: -.25em;
    right: .75em;
}